button {
  border: unset;
  background: transparent;
  color: $green;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $green;

  &:hover {
    background: $dark-green;
  }
}
