@mixin container-on-top-page {
  position: absolute;
  top: 0;
  margin: 1em;
  font-size: 2em;
}

@mixin flex-centered-alinged-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
